* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* tablet ---------------------- */

@media screen and (min-width: 576px) and (max-width: 1199px) {

  body {
    display: flex;
  }
  
  .container {
    width: calc(100% / 3);
  }

  .container .row {
    height: 100vh;
    margin: 0;
    width: 100%;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    background-color: #f2f2c9;
    width: 100%;
    padding: 20px 15px;
  }

  #lezioni h1,
  #why h1 {
    width: 100%;
    background-color: #f2f2c9;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
    padding: 20px 15px;
  }



  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
    margin-top: 0;
    background-color: #f2f2c9;
    padding: 20px 15px;
  }
  
















  
}








/* mobile------------------- */

@media screen and (max-width: 576px) {

  .container {
    width: 100%;
    max-width: 576px;
    background-color: #f2f2c9;
    padding: 20px 15px;
  }

  .row {
    width: 100%;
    margin-top: 0;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    padding: 20px 15px;
  }

  /* fine blocco lezioni */

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
    padding: 20px 15px;
  }

  /* fine blocco steps */

  #why .row>.first,
  #why .row>.second,
  #why .row>.third,
  #why h1 {
    background-color: #f2f2c9;
    margin-top: 0;
    padding: 20px 15px;
  }

  /* fine blocco why */

















  
}